body{
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-54629.jpg?w=360.jpg);
    background-size: cover;
}

#blackjackh1{
    color: goldenrod;
}

#want-el{
    color: white;
    font-size: 2em;
}
#sum-el{
    color: white;
    font-size: 1.5em;
}

#cards-el{
    color: white;
    font-size: 1.5em;
}

#player-el{
    color: white;
    font-size: 1.5em;
}

button {
    background-color: goldenrod;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}